.choose-start {
    display: flex;
}

#start-point {
    width: 90%;
    padding: 10px 30px 10px 30px;
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 15px;
    margin-left: 5px;

}

.start-icon {
    width: 10%;
    position: absolute;
    left: 21px;
    top: 22px;
}

.choose-end {
    display: flex;
}

.customize {
    margin-left: 5px;
}

#end-point {
    width: 90%;
    padding: 10px 30px 10px 30px;
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 15px;
    margin-left: 6.3px;
}

.end-icon {
    width: 10%;
    font-size: 19px;
    position: absolute;
    left: 23px;
    top: 73px
}

/* #choose-place {
    display: flex;
    width: 100%;
    padding: 10px 30px 10px 30px;
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 15px;
} */

.time-and-options {
    display: flex;
}

#map {
    height: 80%;
    margin: 10px;
}